<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Department List</title>
</head>
<body>
	<button><a th:href="@{/department/add}" th:text="#{department.add}"></a></button>
	<form th:action="@{/department/list}" method="get">
	
		<input type="text" name = "name" placeholder="Tim ten... " th:value="${searchDTO.name}">	
			
		<!--  <input type="text" name = "currentPage" placeholder="Nhap trang..." th:value="${searchDTO.currentPage}">  -->
	
		<label for = "size">Số bản ghi trên 1 trang: </label>
		<select name = "size" id = "size">
			<option th:selected="${searchDTO.size == 5}" value="5">5</option>
			<option th:selected="${searchDTO.size == 10}" value="10">10</option>
		</select>
			
		<label for = "sortField">Thuộc tính để sắp xếp</label>
		<select name = "sortField" id = "sortField" >
			<option th:selected="${searchDTO.sortField == 'id'}" value="id">id</option>
			<option th:selected="${searchDTO.sortField == 'name'}" value="name">name</option>
		</select>
		
		<button type="submit" th:text="#{function.search}"></button>
	</form>
	<table border="1" style="width: 100%">
		<thead>
			<th>Id</th>
		    <th th:text="#{department.name}"></th>
		    <th th:text="#{department.list.ticket}"></th>
		    <th th:text="#{function.edit}"></th>
		    <th th:text="#{function.delete}"></th>
		</thead>
		  <tbody>
		  	 <tr th:each="department: ${pageDTO}">
		  	 	<td th:text="${department.id}"></td>
		  	 	<td th:text="${department.name}"></td>
		  	 	<td><a th:href="@{'/}" th:text="#{department.list.ticket}"></a></td>
		  	 	<td><a th:href="@{'/department/edit?id=' + ${department.id}}" th:text="#{function.edit}"></a></td>
		  	 	<td><a th:href="@{'/department/delete?id=' + ${department.id}}" th:text="#{function.delete}"></a></td>
		  	 </tr>
		  </tbody>
	</table>
	<div class="footer" style="display: flex;  margin-top: 15px; align-items: center; justify-content: space-between;">
		<div style="margin-top: 15px">
			 	Tổng <span th:text="${totalElements}"></span> bản ghi trong <span th:text="${totalPages}"></span> trang
		</div>
		<div>
			
		</div>
		<div th:if="${totalPages > 1}">
			<button th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
            	<a th:href="@{'/department/list?currentPage=' + ${pageNumber} + '&size=' + ${searchDTO.size}
			+ '&name=' + ${searchDTO.name} + '&departmentname=' + ${searchDTO.name} + '&sortField=' + ${searchDTO.sortField}}" 
            	th:text="${pageNumber + 1}">
            	
            	</a>
        	</button>
		</div>
	</div>
</body>
</html>